@import "palette.scss";
@import "themes.scss";

$FIB_RATIO: 1.61803398875;

$fib-1: 1; //////  0x01
$fib-2: 2; //////  0x02
$fib-3: 3; //////  0x03
$fib-4: 5; //////  0x05
$fib-5: 8; //////  0x08
$fib-6: 13; /////  0x0d
$fib-7: 21; /////  0x15
$fib-8: 34; /////  0x22
$fib-9: 55; /////  0x37
$fib-10: 89; ////  0x59
$fib-11: 144; ///  0x90
$fib-12: 233; ///  0xe9
$fib-13: 377; ///  0x179
$fib-14: 610; ///  0x262
$fib-15: 987; ///  0x3db
$fib-16: 1597; //  0x63d

.rounded {
    $border-radius: $fib-4 * 1px;

    border-radius: ($border-radius);

    &.left-only {
        border-radius: ($border-radius) 0 0 ($border-radius);
        border-right: none !important;
    }

    &.right-only {
        border-radius: 0 ($border-radius) ($border-radius) 0;
        border-left: none !important;
    }

    &.top-only {
        border-radius: ($border-radius) ($border-radius) 0 0;
        border-bottom: none !important;
    }

    &.bottom-only {
        border-radius: 0 0 ($border-radius) ($border-radius);
        border-top: none !important;
    }
}

$slower-fade: $fib-7 * 0.01s;
$medium-fade: $fib-6 * 0.01s;
$faster-fade: $fib-5 * 0.01s;

.shadow {
    $shift: $fib-3 * 1px;
    $blur: $fib-5 * 1px;
    $opacity: $fib-3 * 0.1;

    -webkit-box-shadow: 0px $shift $blur 0px rgba(0, 0, 0, $opacity) !important;
    -moz-box-shadow: 0px $shift $blur 0px rgba(0, 0, 0, $opacity) !important;
    box-shadow: 0px $shift $blur 0px rgba(0, 0, 0, $opacity) !important;
}

a {
    color: var(--color-accent);

    &:not(:hover) {
        text-decoration: none;
    }
}
