@import "palette.scss";

.theme-light {
    --color-background: var(--apolo-light-0);
    --color-background-secondary: var(--apolo-light-1);
    --color-background-disabled: var(--apolo-light-2);

    --color-text: var(--apolo-light-9);
    --color-text-secondary: var(--apolo-light-7);
    --color-text-disabled: var(--apolo-light-5);

    --color-button: var(--apolo-light-0);
    --color-button-hover: var(--apolo-light-0);
    --color-button-active: var(--apolo-light-1);
    --color-button-disabled: var(--apolo-light-0);

    --color-border: var(--apolo-light-5);
    --color-border-hover: var(--apolo-light-5);
    --color-border-active: var(--apolo-light-4);
    --color-border-disabled: var(--apolo-light-2);

    --color-scrollbar: var(--apolo-light-3);
    --color-scrollbar-hover: var(--apolo-light-4);
}

.theme-dark {
    --color-background: var(--apolo-dark-1);
    --color-background-secondary: var(--apolo-dark-0);
    --color-background-disabled: var(--apolo-dark-2);

    --color-text: var(--apolo-dark-9);
    --color-text-secondary: var(--apolo-dark-7);
    --color-text-disabled: var(--apolo-dark-5);

    --color-button: var(--apolo-dark-1);
    --color-button-hover: var(--apolo-dark-1);
    --color-button-active: var(--apolo-dark-3);
    --color-button-disabled: var(--apolo-dark-1);

    --color-border: var(--apolo-dark-4);
    --color-border-hover: var(--apolo-dark-6);
    --color-border-active: var(--apolo-dark-5);
    --color-border-disabled: var(--apolo-dark-3);

    --color-scrollbar: var(--apolo-dark-4);
    --color-scrollbar-hover: var(--apolo-dark-5);
}
