@import "../styles/index.scss";

.switch-button,
.check-button {
    transition:
        height $slower-fade,
        width $slower-fade;

    span,
    span::before {
        transition:
            background $medium-fade,
            border-color $medium-fade,
            height $slower-fade,
            width $slower-fade,
            flex-basis $slower-fade,
            transform $slower-fade;
    }

    label {
        transition: color $medium-fade;
    }
}
